<div  fxLayout="row wrap" fxLayoutGap="20px" >

<button mat-button mat-mini-fab [routerLink]="['/home']" color="accent">
  <mat-icon matListIcon>home</mat-icon><br>
  <p class="menuText">Home</p>
</button>



<button mat-button mat-mini-fab color="accent" [routerLink]="['/add']">
  <mat-icon matListIcon>add</mat-icon><br>
  <p class="menuText">Add</p>
</button>



<button mat-button mat-mini-fab [routerLink]="['/list']" color="accent">
  <mat-icon matListIcon>list</mat-icon><br> 
  <p class="menuText">List</p>
</button>


</div>