

  <h1> HSDD 2018-19 Project Template</h1>


<a routerLink="/list"> Link to List page </a> 

 <button mat-stroked-button color="warn" routerLink="/list">Link to List Page</button>

<div class="box">
<h2>Angular Component Code Exampless</h2>
<ul>
  <li>
<a href="https://stackblitz.com/edit/hsc-project-material-examples" target="_blank"> EDITOR URL </a> When you open this url in stackblitz "FORK" it so you can access the code.
  </li>
</ul>


<button  mat-button  (click)="clearLocalstarage()" color="warn" >  Clear LocalStorage</button> 
<br> 

<img src="https://drive.google.com/uc?id=1Mioik5ClXHjlPCC8PFVjJ9K6eicf1p0V" width="120%" >



</div>


